/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  font-family: 'Roboto';
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.cards-container {
  display: flex;
  justify-content: center;
}
.card-container {
  margin: 20px;
}

.btn-style {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  color: #dd1264;
  width: 150px;
  padding: 10px 5px;
  margin: 10px;
}
.name-card {
  background-color: #fddddb;
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  font-weight: bold;
  margin: 10px;
}

@media (max-width: 767px) {
  .bg-container {
    background-image: linear-gradient(to right, #fa7257, #fc63a7);
    font-family: 'Roboto';
    text-align: center;
    color: #ffffff;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
